[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/home/rasbandit/.cargo/bin
Environment=DISPLAY=:0
Environment=HOME=/home/rasbandit
Type=simple
ExecStart=/home/rasbandit/.cargo/bin/kanata --cfg /home/rasbandit/.config/kanata/config.kbd
Restart=no

[Install]
WantedBy=default.target