# File system aliases
alias ll='ls -AlF'
alias la='ls -A'
alias l='ls -CF'
alias ldir='ls -d */'
alias sctl='systemctl'
alias edit_aliases='code ~/.bash_aliases'
alias ..='cd ..'
alias cdh='cd ~'
alias c="clear"
alias rm='rm -I --preserve-root'

# Generic
alias e='echo'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Kubernetes
alias k='kubectl'

# Dotfiles repo
alias config='/usr/bin/git --git-dir=$HOME/.cfg --work-tree=$HOME'
alias edit_setup='code ~/.setup-scripts'

# NPM
alias npmr='rm -rf node_modules package-lock.json; npm i'

# git
alias fuck='git reset --soft HEAD^'

# bash
alias pls='sudo $(history -p !!)'

# Utils
alias extip='curl icanhazip.com'
alias speedtest='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -'
alias sbrc='source ~/.bashrc'
alias edit_bashrc='code ~/.bashrc'
alias edit_history='code ~/.bash_history'

# Apt
alias i='sudo apt install'
alias upd='sudo apt update'
alias upg='upd && sudo apt upgrade'

alias cs="create_script"


alias dbp="docker_build_publish"

# VPN
alias nrd='nordvpn
'

alias nrdc='nordvpn_connect_city'

alias nrdd='nordvpn d'
alias nrds='nordvpn status'

alias nrdcp="nordvpn_connect_public"

alias wgq='wg-quick'
alias wguh='sudo wg-quick up home'
alias wgdh='sudo wg-quick down home'